<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62511586249-smvk8q5m9cciq1754rsnlnam4eja4u9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62511586249-smvk8q5m9cciq1754rsnlnam4eja4u9n</string>
	<key>API_KEY</key>
	<string>AIzaSyBm47LM4MGuqTQDH0su5qhmKRhsCaMXozk</string>
	<key>GCM_SENDER_ID</key>
	<string>62511586249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jsmile.native.vietjack</string>
	<key>PROJECT_ID</key>
	<string>vietjack-4b6d1</string>
	<key>STORAGE_BUCKET</key>
	<string>vietjack-4b6d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:62511586249:ios:96334aec4b581d6dfb6618</string>
	<key>DATABASE_URL</key>
	<string>https://vietjack-4b6d1.firebaseio.com</string>
</dict>
</plist>
